.login_card {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
}

.login_row {
    padding: 1rem;
}

.styled_input {
    padding: 0.6rem;
}

.shadow-sm {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.border-gray-300 {
    border-color: #e2e8f0;
}

.border-indigo-300 {
    border-color: #a3bffa;
}

.ring-indigo-200 {
    --tw-ring-color: rgb(199 210 254);
}

.side_search_bar dt {
    float: left;
}

.side_search_bar dd {
    margin-left: 80px;
    margin-bottom: 1rem;
}

.side_search_bar {}

.input {
    padding: 0.4rem;
    border: 1px solid #f2f2f2;
}

.input:focus {
    outline: orange 2px solid;
}