{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssg": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}