body {
  margin-top: 60px;
  background-color: #f4f5f8;
  font-family: "Yu Gothic", YuGothic, "Hiragino Sans", "Hiragino Kaku Gothic ProN", Verdana, "メイリオ", Meiryo, sans-serif !important;
  color: rgba(0, 0, 0, 0.6);
}



h1 {
  font-weight: 700 !important;
  font-family: "Yu Gothic",
    YuGothic,
    "Hiragino Sans",
    "Hiragino Kaku Gothic ProN",
    Verdana,
    "メイリオ",
    Meiryo,
    sans-serif !important;
}

.flex {
  display: flex;
}

.bold {
  font-weight: bold;
}

.fs15rem {
  font-size: 1.5rem;
}

/* *,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: inherit;
} */

.ml100 {
  margin-left: 100px;
}

input[type="button"],
input[type="text"],
input[type="submit"],
input[type="image"],
textarea {
  outline: none !important;
}

*:focus {
  outline: none;
}

input[type="text"],
input[type="password"],
textarea,
select {
  outline: none;
}

input[type="text"],
input[type="password"],
textarea,
select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border-color: none !important;
}

.fs12 {
  font-size: 1.2rem;
}

.wi100 {
  width: 100%;
}

.rounded-md {
  border-radius: 0.375rem;
}

a {
  text-decoration: none;
}